{% extends 'blog/base.html' %}
{% load static %}


{% block header %}
    <title>AGRec 農薬システム</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'mable/assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'mable/bower_components/bootstrap/css/bootstrap.min.css' %}">

    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'mable/assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'mable/assets/icon/themify-icons/themify-icons.css' %}">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="{% static 'mable/assets/css/font-awesome-n.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mable/assets/css/font-awesome.min.css' %}">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'mable/assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- am chart export.css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- radial chart.css -->
    <link rel="stylesheet" href="{% static 'mable/assets/pages/chart/radial/css/radial.css' %}" type="text/css" media="all">
    <!-- feather icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'mable/assets/icon/font-awesome/css/font-awesome.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" type="text/css" href="{% static 'mable/assets/css/style.css' %}">

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'mable/bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mable/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mable/bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mable/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- waves js -->
    <script src="{% static 'mable/assets/pages/waves/js/waves.min.js' %}"></script>

    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'mable/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>

    <!-- Custom js -->
    <script src="{% static 'mable/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'mable/assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mable/assets/js/script.min.js' %}"></script>
{% endblock %}

{% block pre-load %}
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <!-- [ Pre-loader ] end -->
{% endblock %}

{% block bheader %}
        <!-- [ Header ] start -->
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <a href="#!">
                        <img class="img-fluid" src="{% static 'mable/assets/images/logo.png' %}" alt="Theme-Logo" />
                    </a>
                    <a class="mobile-options waves-effect waves-light">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <div class="navbar-container container-fluid">

                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav-right">
                        <!---お知らせfrom-->
                        <li class="header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <i class="ti-bell"></i>
                                <span class="badge bg-c-red"></span>
                            </a>
                            <ul class="show-notification">
                                <li>
                                    <h6>お知らせ</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                            </ul>
                        </li>
                        <!---お知らせend-->
                        <!--header ユーザーfrom--->
                        <li class="user-profile header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <img src="{% static 'mable/assets/images/' %}{{user.image}}" class="img-radius" alt="User-Profile-Image">
                                <span>{{user.name}}</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                <li class="waves-effect waves-light">
                                    <a href="#!">
                                        <i class="ti-settings"></i> 設定
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="auth-normal-sign-in.html">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--header ユーザーend--->
                    </ul>

                </div>
            </div>
        </nav>
        <!-- [ Header ] end -->
{% endblock %}

{% block leftmenu %}
                <!---左ドロップダウンfrom-->
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-80 img-radius" src="{% static 'mable/assets/images/' %}{{user.image}}" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span id="more-details">{{user.name}}<i class="fa fa-caret-down"></i></span>
                                </div>
                            </div>
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">
                                        <a href="user-profile.html"><i class="ti-user"></i>プロフィール</a>
                                        <a href="#!"><i class="ti-settings"></i>設定</a>
                                        <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-15 p-b-0">
                            <form class="form-material">
                                <div class="form-group form-primary">
                                    <input type="text" name="footer-email" class="form-control">
                                    <span class="form-bar"></span>
                                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Friend</label>
                                </div>
                            </form>
                        </div>
                        <div class="pcoded-navigation-label">AGRecのご紹介</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="{% if page1 == 'main' %}active{% endif %} ">
                                <a href="../" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext">スタートページ</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="pcoded-navigation-label">農薬関連</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu {% if page1 == 'pest' %}active pcoded-trigger {% endif %}">
                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-search"></i><b>BC</b></span>
                                    <span class="pcoded-mtext">農薬検索</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class=" {% if page2 == 'search' %}active{% endif %} ">
                                        <a href="/pestsearch/" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext">作物から検索</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class=" ">
                                        <a href="form-elements-component.html" class="waves-effect waves-dark">
                                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                            <span class="pcoded-mtext">病害虫から検索</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- 左ドロップダウン end -->
{% endblock %}

{% block pageheader %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">農家支援システム AGRec</h5>
                        <p class="m-b-0">作業記録・防除記録・農薬検索</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">start page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
{% endblock %}
